<ion-header>
  <ion-toolbar>
    <ion-title>ExampleFour</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list lines="none">
		<ion-item *ngFor="let item of items">

			<ion-thumbnail slot="start">
			  <img src="http://placehold.it/75">
			</ion-thumbnail>

			<h2>My Neighbor Totoro</h2>
			<p>Hayao Miyazaki 1988</p>

		</ion-item>
	</ion-list>

	<ion-infinite-scroll threshold="100px'" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
