<ion-header>
  <ion-toolbar>
    <ion-title>ExampleThree</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-virtual-scroll approxItemHeight="100px" [items]="items">

    <ion-item *virtualItem="let item">
  
      <ion-thumbnail slot="start">
        <ion-img src="http://placehold.it/75"></ion-img>
      </ion-thumbnail>
  
      <h2>My Neighbor Totoro</h2>
      <p>Hayao Miyazaki 1988</p>
  
    </ion-item>
  
  </ion-virtual-scroll>

</ion-content>
